#mainHeader{
    color: black;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;

}

#headerNavegation{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    color: black;
}


.navegation ul{
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    animation: none;
    /* background: whitesmoke; */
    border-bottom-color: rgb(207, 204, 204);
    border-style:solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1%;

}

.navegation ul li{
    display: inline-block;
    justify-content: space-between;
    animation: none;
    width: 19%;
    margin-right: 0;
    border-bottom-color: black;
    text-align: center;
    justify-items: center;
   
}

.navegation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    border-bottom-color: black;
    
}

.navegation ul li:hover {
    background: rgb(240, 238, 238);
    border-radius: 10%;
    transition: all 0.4s linear;
}

#nombreSocial{
    color: rgb(24, 160, 251);
    font-weight: bolder;
    font-size: large;
}
.underline{
    width: 100%;
    color: rgb(221, 218, 218);
}

.mesajeBox{
    width: 40%;
    margin-left: 30%;
    background: #f2f2f2;
    margin-top: 8%;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-style: solid;
    border-color: rgb(221, 218, 218);
    height: 100%;
    
}
.titulo{
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: bold;
    border-bottom-style: solid;
    padding: 2% 1%;
    border-color: rgb(221, 218, 218);

}

.searchMesaje{
    font-size: 20px;
    font-weight: bold;
    border-bottom-style: solid;
    padding: 2% 1%;
    padding-bottom: 3%;
    border-color: rgb(221, 218, 218);
    border-radius: 10%;

}

.mesajeUser{
    display: flex;
    padding: 2%;
}

.user{
    width: 60px;
    margin-right: 2%; 
}

.mesajeDirect{
    margin-bottom: 5%;
}

.mesajesR{
    text-align: left;
    border-style: solid;
    border-radius: 20%;
    background-color: white;
    color: rgb(24, 160, 251);
    border-color: rgb(24, 160, 251);
    margin-left: 3%;
    padding: 3%;
}
    



.mesajesS{
    text-align: right;
    border-radius: 20%;
    border-style: solid;
    background-color: rgb(24, 160, 251);
    color: white;
    padding: 3%;
    
}

.mr{
    text-align: left;
    padding: 2%;
    margin-bottom: 2%;
}

.ms{
    text-align: right;
    padding: 2%;
    margin-bottom: 2%;
}

.mesajeWrite{
    margin-top: 1.5%;
    border-top-style: solid;
    border-color: rgb(221, 218, 218);
    padding-top: 3%;
}

#inputMesaje{
    width: 95%;
    padding: 2%;
}




